extends layout


block content

    form#login-form
        h2 Tel me who are you?

        .form-group
            label(for="email") Email
            input.form-control(type="email" id="email" name="email" placeholder="my@mail.com" required autofocus)
        .form-group
            label(for="password") Password
            input.form-control(type="password" id="password" name="password" required)

        button.btn.btn-lg.btn-primary.btn-block(type="submit") Login
        a.btn.btn-lg.btn-primary.btn-block(href="/login/vkontakte") Login via VK
        a(href="/registration") Registration

        h2 #{name}

        script(src='login.js')
